{%  extends 'base.html' %}

{% block body %}

      <div  class="container-fluid transition-main" id="container" >
		  <div class="row" >
			   <form action="{{ url_for('changing_password') }}" id="login" class="row" method="POST">
				   <img class="img-responsive" src="{{ url_for('static', filename = 'logo.png') }}" width="50" height="50" alt="" style="margin: auto;margin-top: 2em;">
				   <h2 class="col-12">Smart vase Project</h2>
				   <h3 class="col-12" style="margin-top: 3vh">Insert your email address</h3>
				   <input class="input-text col-12" type="text" name="email" value="">
                   {% if error=="Email not valid"%}
                            <p style="color: red;">{{ error }}</p>
                   {% else %}
                            <p style="color: red;">We'll send a confirmation code to your email address</p>
                   {% endif %}
				   <input id="intasto" class="col-md-12" type="submit" value="Send code"><br>

			  </form>
		  </div>

	  </div>
{% endblock %}