{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='canvasjs.min.js') }}"></script>

{% endblock %}
	  
{% block body %}
	  <div class="container-fluid transition-main" id="container" >
      <form class="barra-utente row" style="padding: 0;margin: 0;"  action="{{ url_for('logging_out') }}">

          <img class="utente-ico" src={{ url_for('static', filename='utente_ico.png') }}>
          <p id="p-username-logout">{{ username }}</p>
          <p style="color: green;margin: 15px 0 0 20px;">online</p>
          <p style="color: green;margin: 15px 0 0 20px;">{{ data }}</p>
          <input id="logout-cta"  value="Log out" type="submit" id="logout-cta">

      </form>

          <form  id="form-acomparsa"  >
              <div class="col-1">
                  <img class="freccia-logout "  width="10px" height="10px" src={{ url_for('static',filename='freccia-logout.png')}}>
              </div>
              <div class="col-9" >

              </div>

          </form>
      <div class="inner-div">
      {% for i in range(0,numero_sensori) %}
          <div class="row div-sensore">
              <h6>{{ nomi_sensori[i] }}</h6>
              <div class="col-1 freccia-sx-slider" onclick="click_sx()"></div>
              <div class="statistic col-6 activate"  id="chartContainer1"></div>
              <div class="statistic col-6 deactivate"  id="chartContainer2" style="width: 672px;height: 300px;"></div>
              <div class="col-1 freccia-dx-slider" onclick="click_dx()"></div>
              <div class="col-2 status" style="align-content: center;text-align: center;">


                  {% if sensori[i][0][0]['light']=='False' or sensori[i][0][0]['water']=='False' %}

                         <img  src="{{ url_for('static', filename = 'sad-plant.png') }}" class="sad-plant"  >

                      {% if sensori[i][0][0]['light']=='False' and sensori[i][0][0]['water']=='False' %}

                          <p class="error">Your plant needs water  and light </p>

                      {% elif sensori[i][0][0]['water']=='False' %}

                           <p class="error">Your plant needs water </p>

                      {% else %}

                           <p>Your plant needs light</p>

                       {% endif %}

                  {% else %}

                          <img  src="{{ url_for('static', filename = 'smiling-plant.png') }}" class="smiling-plant "  >
                      <h1 style="font-size: 1.4em;color:limegreen;text-align: center">EVERYTHING'S <br> OKAY!</h1>

                  {% endif %}
              </div>

          </div>
      {% endfor %}
</div>

     </div>
   {% for i in range(0,numero_sensori) %}
    <script type="text/javascript">
       window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer1",
    {
      title:{
        text: "Today's statistics"
      },
      axisY: {
        title: "Temperature / Humidity",
        maximum: 100
      },
      data: [
      {
        type: "bar",
        showInLegend: true,
        legendText: "Temperature ° C",
        color: "red",
        dataPoints: [
            {% for c in sensori[i][0] %}
      { y: {{ c['external temperature']  }},label: {{ c['data']  }}},
            {% endfor %}

        ]
      },
          {
        type: "bar",
        showInLegend: true,
        legendText: "Humidity %",
        color: "blue",
        dataPoints: [
            {% for c in sensori[i][0] %}
        { y: {{ c['external temperature']  }}, label: {{ c['data']  }}},
            {% endfor %}
        ]
      }
      ]
    });

    //fucntion per il secondo chart
    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
      title:{
        text: "Last month's statistic"
      },
      axisY: {
        title: "Temperature / Humidity",
        maximum: 100
      },
      data: [
      {
        type: "bar",
        showInLegend: true,
        legendText: "Temperature ° C",
        color: "red",
        dataPoints: [
            {% for c in sensori[i][1] %}
        { y: {{ c['external temperature']  }}, label: {{ c['data']  }}},
            {% endfor %}

        ]
      },
          {
        type: "bar",
        showInLegend: true,
        legendText: "Humidity %",
        color: "blue",
        dataPoints: [
           {% for c in sensori[i][1] %}
        { y:{{ c['external humidity']  }},label: {{ c['data']  }}},
            {% endfor %}
        ]
      }
      ]
    });

chart.render();
chart2.render();
}
</script>
    {% endfor %}


{% endblock %}
    
