{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='canvasjs.min.js') }}"></script>

{% endblock %}
	  
{% block body %}
	  <div class="container-fluid transition-main"  id="container"  >
      <div class="barra-utente row" style="padding: 0;margin: 0;" >

          <img class="utente-ico" src={{ url_for('static', filename='logo.png') }}>
          <p id="p-username-logout">{{ username }}</p>
          <p style="color: green;margin: 15px 0 0 20px;">online</p>
          <p style="color: green;margin: 15px 0 0 20px;" class="nascosto">{{ data }}</p>
          <a id="logout-cta"  href="{{ url_for('logging_out') }}" >Log out</a>

      </div>

          <form  id="form-acomparsa" class="nascosto" >
              <div class="col-1">
                  <img class="freccia-logout "  width="10px" height="10px" src={{ url_for('static',filename='freccia-logout.png')}}>
              </div>
              <div class="col-9" >
                  <a href="https://github.com/2dadsgn/Smart-vase" target="_blank">
                      <img id="github"  width="70px" height="70px" src={{ url_for('static',filename='github.png')}}>
                  </a>
              </div>

          </form>
      <div class="inner-div">


      {% for i in range(0,numero_sensori) %}
          <div class="row div-sensore">

              <h6 class="col-md-1 col-8">{{ nomi_sensori[i] }}</h6>
          {% if vuoto[i]==1 %}
              <div class="col-md-1 col-1 freccia-sx-slider nascosto-t" onclick="click_sx()" id="frecciasx"></div>
              <div class="statistic col-md-5 col-12 activate nascosto"  id="chartContainer1" ></div>
              <div class="statistic col-md-5 col-12 deactivate nascosto"  id="chartContainer2" style="width: 672px;height: 300px;"></div>
              <div class="col-md-1 col-1 freccia-dx-slider nascosto" onclick="click_dx()" id="frecciadx"></div>
              <div class="col-md-2 col-12 status" style="align-content: center;text-align: center;">


                  {% if ultimi_dati[i]['light']=='False' or ultimi_dati[i]['water']=='False' %}

                         <img  src="{{ url_for('static', filename = 'sad-plant.png') }}" class="sad-plant"  >

                      {% if ultimi_dati[i]['light']=='False' and ultimi_dati[i][0][0]['water']=='False' %}

                          <p class="error-data">Your plant needs water  and light </p>

                      {% elif ultimi_dati[i]['water']=='False' %}

                           <p class="error-data">Your plant needs water </p>

                      {% else %}

                           <p class="error-data">Your plant needs light</p>

                       {% endif %}
                  {% else %}

                          <img  src="{{ url_for('static', filename = 'smiling-plant.png') }}" class="smiling-plant "  >
                      <h1 class="okay">Everything's <br> OKAY!</h1>

                  {% endif %}

              </div>
          {% else %}
                  <h11 class="col-md-9 col-10 nodataavailable " >No Data availables,<br>
                are you sure your Smart vase is connected to the internet?</h11>

          {% endif %}
          {% if vuoto[i]==1 %}
              <div class="col-md-1 col-12 div-mod-del ">
                     <a class="col-6" href="{{ url_for('delete_sensor') }}">
                          <img class="delete" src="{{ url_for('static', filename = 'xxx.png') }}" >
                    </a>
                     <a class="col-6" href="{{ url_for('modify_sensor') }}" >
                         <img class="modify"  src="{{ url_for('static', filename = 'matita.png') }}" >
                    </a>
              </div>

           {% else %}
             <div class="col-md-1 -col-10 div-mod-del">
                     <a class="col-6 col-md-2" href="{{ url_for('delete_sensor') }}">
                          <img class="delete" src="{{ url_for('static', filename = 'xxx.png') }}" >
                    </a>
                     <a class="col-6 col-md-2" href="{{ url_for('modify_sensor') }}" >
                         <img class="modify"  src="{{ url_for('static', filename = 'matita.png') }}" >
                    </a>
              </div>
          {% endif %}


          </div>
      {% endfor %}

      <div class="row add-new" >

          <a class="col-12" href="{{ url_for('addnewplant') }}">
              <img src="{{ url_for('static', filename = 'plus.png') }}" class="plus">
          </a>
          <h8 class="col-12">Add new Smart Sensor</h8>

      </div>
</div>




     </div>

   {% for i in range(0,numero_sensori) %}
       {% if vuoto[i]==1 %}
    <script type="text/javascript">
       window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer1",
    {
      title:{
        text: "Today's statistics"
      },
      axisY: {
        title: "Temperature / Humidity",
        maximum: 100
      },
      data: [
      {
        type: "bar",
        showInLegend: true,
        legendText: "Temperature ° C",
        color: "red",
        dataPoints: [
            {% for c in sensori[i][0] %}
      { y: {{ c['external temperature']  }},label:{{c["data"]}}},
            {% endfor %}

        ]
      },
          {
        type: "bar",
        showInLegend: true,
        legendText: "Humidity %",
        color: "blue",
        dataPoints: [
            {% for t in sensori[i][0] %}
        { y: {{ t['external humidity']  }}, label: {{t["data"]}}},
            {% endfor %}
        ]
      }
      ]
    });

    //fucntion per il secondo chart
    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
      title:{
        text: "Last month's statistic"
      },
      axisY: {
        title: "Temperature / Humidity",
        maximum: 100
      },
      data: [
      {
        type: "bar",
        showInLegend: true,
        legendText: "Temperature ° C",
        color: "red",
        dataPoints: [
            {% for c in sensori[i][1] %}
        { y: {{ c['external temperature']  }}, label: {{ c['data']  }}},
            {% endfor %}

        ]
      },
          {
        type: "bar",
        showInLegend: true,
        legendText: "Humidity %",
        color: "blue",
        dataPoints: [
           {% for c in sensori[i][1] %}
        { y:{{ c['external humidity']  }},label: {{ c['data']  }}},
            {% endfor %}
        ]
      }
      ]
    });

chart.render();
chart2.render();
}
</script>
       {% else %}
       {% endif %}
    {% endfor %}



{% endblock %}
    
